[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdparty/yaml-cpp"]
	path = thirdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "thirdparty/learngit"]
	path = thirdparty/learngit
	url = https://github.com/qimenlang/learngit.git
